.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

.innerContainer {
    background-color: rgba(255, 245, 211, 1);
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tipTitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0 auto;
    height: 80px;
}

@media screen and (max-width: 991px) {
    .tipTitle {
        font-size: 23px;
        min-height: 60px;
    }
}

.content {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.38px;

    padding-left: 10px;
    padding-right: 10px;
}

.readMore {
    background-color: #ffc501;
    border: none;
    border-radius: 218px;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;

    align-self: flex-end;
}