.exampleCard {
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.exampleNumber {
    font-size: 2.375rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

.exampleCardContainer {
    background-color: #fff5d3;
    height: 450px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.exampleContent {
    font-size: 1.188rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.readMoreBtn {
    background-color: #ffc501;
    border: none;
    border-radius: 218px;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    align-self: flex-end;
    margin-top: auto;
    text-decoration:  none;
    color: #000;
}

@media (max-width: 991px) {
    .exampleCard {
        width: 100%;
        margin-bottom: 2rem;
    }
}