.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.navigation {
    display: flex;
    gap: 1.5rem;
}

.navLink {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .header {
        flex-direction: column;
        padding: 1rem;
    }

    .navigation {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
    }
}