.content {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    padding: 2rem;
    background-color: #fff5d3;

    display: flex;
}

h1 {
    color: rgba(4, 56, 190, 1);
    letter-spacing: 1px;
    font: 600 40px/2 Poppins, sans-serif;
    margin: 0;
}

p {
    font-family: Roboto, sans-serif;
}

a {
    color: #000;
    transition: all 0.3 ease-in-out;
}

a:hover {
    background-color: #F0F0F0;
}

@media (max-width: 600px) {
    .content {
        width: auto;
    }

    h1 {
        font-size: 30px;
        line-height: 1.2;
    }

    p {
        font-size: 14px;
    }
}