.footer {
    display: flex;
    width: 80%;
    max-width: 100%;
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 991px) {
    .footer {
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.footerContent {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 40px;
}

.footerAbout {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footerTitle {
    color: #1d1d1d;
    font: 700 24px/135% Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.footerDescription {
    color: #606060;
    text-align: justify;
    margin-top: 27px;
    font: 400 19px/31px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.footerLinks {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    color: #606060;
    font-weight: 400;
}

.footerLinksTitle {
    color: #00052e;
    font: 600 25px Roboto, sans-serif;
}

.footerLink {
    font-family: Roboto, sans-serif;
    margin-top: 25px;
    color: #606060;
    text-decoration: none;
}

.footerContact {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    color: #000;
    font-weight: 400;
}

.footerContactTitle {
    color: #00052e;
    font: 600 25px Roboto, sans-serif;
}

.footerContactInfo {
    font-family: Roboto, sans-serif;
    margin-top: 25px;
}

.footerEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerDivider {
    border-color: rgba(183, 183, 183, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #b7b7b7;
    align-self: stretch;
    min-height: 1px;
    margin-top: 173px;
    width: 100%;
}

@media (max-width: 991px) {
    .footerDivider {
        max-width: 100%;
        margin-top: 40px;
    }
}

.footerCopyright {
    text-align: center;
    color: #606060;
    margin: 24px 0 0 52px;
    font: 400 19px Roboto, sans-serif;
}