.heroSection {
    margin-top: 80px;
    width: 100%;
    max-width: 1344px;
}

@media (max-width: 991px) {
    .heroSection {
        width: 100%;
        margin-top: 40px;
    }
}

.heroContent {
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 991px) {
    .heroContent {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 0px;
    }
}

.heroTextColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .heroTextColumn {
        width: 100%;
    }
}

.heroText {
    display: flex;
    margin-top: 119px;
    flex-direction: column;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .heroText {
        max-width: 100%;
        margin-top: 40px;
    }
}

.heroTitle {
    color: var(--Primary-Black, #050c26);
    font: 800 55px/135% Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .heroTitle {
        max-width: 100%;
        font-size: 30px;
    }
}

.heroSubtitle {
    color: #4e4949;
    margin-top: 44px;
    font: 500 40px/82px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .heroSubtitle {
        max-width: 100%;
        margin-top: 10px;
        font-size: 25px;
        line-height: 76px;
    }
}

.heroImageColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .heroImageColumn {
        width: 100%;
        margin-left: 0px;
    }
}

.heroImage {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    align-self: center;
    width: 90%;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .heroImage {
        max-width: 100%;
        margin-top: 20px;
    }
}