.howSection {
    width: 80%;
    max-width: 100%;
    font-size: 50px;
    font-weight: 600;
    line-height: 140%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .howSection {
        margin-top: 40px;
        font-size: 40px;
    }
}

.howTitle {
    color: #000;
    font: 600 50px/167.5% Poppins, -apple-system, Roboto, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
}

@media (max-width: 991px) {
    .howTitle {
        max-width: 100%;
        font-size: 40px;
    }
}

.howSubtitle {
    color: #050c26;
    margin-top: 177px;
    font: 500 20px Poppins, sans-serif;
    text-align: center;
}

@media (max-width: 991px) {
    .howSubtitle {
        max-width: 100%;
        margin-top: 40px;
    }
}

.howCategories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    font-size: 34px;
    color: #0438be;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 135%;
}

@media (max-width: 991px) {
    .howCategories {
        flex-wrap: wrap;
    }
}

.categoryItem {
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
}

.categoryItemBlack {
    color: #171717;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 800;
    flex-grow: 1;
    flex-basis: auto;
}

.howImage {
    aspect-ratio: 3.23;
    object-fit: auto;
    object-position: center;
    width: 90%;
    align-self: center;
    margin-top: 50px;
}

@media (max-width: 991px) {
    .howImage {
        max-width: 100%;
        margin-top: 40px;
    }
}