.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.heroTitle {
    color: #0438BE;
    font-weight: 600;
    font-size: 40px;
}

.heroImage {
    width: 40%;
    height: auto;
}

@media screen and (max-width: 991px) {
    .hero {
        flex-direction: column;
    }

    .heroImage {
        width: 70%;
    }
}